{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true
    },
    "extends": ["standard", "prettier", "plugin:prettier/recommended"],
    "plugins": ["prettier"],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "rules": {
        "prettier/prettier": "error"
    }
    /*
    "rules": {
        "no-tabs": 0,
        // note you must disable the base rule as it can report incorrect errors
        "indent": "off",
        // note you must disable the base rule as it can report incorrect errors
        "no-unused-vars": "off"
    }
    */
}
